* {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}
*::-webkit-scrollbar {
	height: 0;
}
img {
	display: block;
}
li {
	list-style-type: none;
}
ul {
	margin-left: 0;
	padding-left: 0;
}
p {
	font-size: 18px;
}
a {
	text-decoration: none;
	color: black;
}
li,
p {
	line-height: 1.5;
}
@media (max-width: 768px) {
	h1 {
		font-size: 17px;
	}
	h2 {
		font-size: 16px;
	}
	b,
	li,
	p {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	*::-webkit-scrollbar {
		width: 0;
	}
	b,
	li,
	p {
		font-size: 8px;
	}
	h1 {
		font-size: 13px;
	}
	h2 {
		font-size: 10px;
	}
}
